* {
    padding: 0;
    margin: 0;
    color: black;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.wrap {
    height: 100vh;
    width: 100vw;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    position: relative;
}

.container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.submitBt {
    width: 120px;
    height: 40px;
    font-size: 20px;
    border-radius: 25px;
    background: #3F3F3F;
    text-align: center;
    line-height: 40px;
    color: #fff;
}

.contentBox {
    height: 500px;
    width: 450px;
    margin-left: 140px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    background: rgba(238, 238, 238, 0.20);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
}

.signInBox {
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    width: 350px;
    font-size: 24px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #dddddd;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #dddddd;
}

p {
    font-size: 36px;
}

.textStyle_aTage {
    font-size: 18px;
    color: blue;
    font-weight: bold;
}

.textStyle_pTage {
    font-size: 18px;
    color: #ccc;
}